table {
    border-collapse: collapse;
    width: 1200px;
    }
.column1 {
    width: 140px;
}
.width-col234{                  /*задает ширину колонок 2,3,4*/
    width: 260px;
}
.align-center{
    text-align: center;
   }
.column5{
    text-align: left;
}
.italy{
    background: green;
    color: white;
}
.last-row{
    color:blue;
    border-style: double;
    border-width: 6px;
    border-color: black;
    }
